body {
  /*background-color: DarkGreen;*/
  background-image: url('Assets/perfect_cell.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;


  color:coral;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table, tr, th{
   border: 1px solid black;
}

a {
  color:DarkCyan; 
}

h1 {
  margin-top: 2px;
  margin-bottom: 5px;
}

.smallMargins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  display:flex;
}
.container > div1{
  width:65%;
}
.container > div2{
  width:45%;
}